.main-header {
  color: #fff;
  background-color: #ff6600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.main-logo {
  max-width: 48px;
  margin: 0 1%;
}

.sitename {
  font-size: 16px;
}
