.main-navbar {
  max-width: 100%;
  background-color: #f39c12;
}

.main-navbar ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.main-navbar ul li {
  display: inline-block;
}

.main-navbar ul li a {
  max-width: 100%;
  color: #fff;
  padding: 10px 30px !important;
  text-decoration: none;
  display: block;
}
