.main-navbar {
  max-width: 100%;
  background-color: #fc880d;
  text-align: center;
}

.main-navbar ul {
  margin: 0;
  list-style: none;
}

.main-navbar ul li {
  display: inline-block;
}

.main-navbar ul li a {
  max-width: 100%;
  color: #333;
  padding: 10px 30px !important;
  text-decoration: none;
  display: block;
}

.main-navbar ul li a:hover {
  color: #fff;
  background-color: #e57602;
}
